<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Im Rogelio Cortes, a software engineer studing at the University of
          Illinois at Chicago.
        </p>
      </div>
      <div class="col-lg-4">
        <p>take a look at some of my projects!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a
          href="https://github.com/rogelio-cortes/rogelio-cortes.github.io"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Check out the code for this site
        </a>
      </div>
    </div>
  </div>
</section>
