<!-- Portfolio Modals -->
{% for post in site.posts %}
<div
  class="portfolio-modal modal fade"
  id="portfolioModal-{{ post.modal-id }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary" />
            <img
              src="img/portfolio/{{ post.img }}"
              class="img-responsive img-centered"
              alt="{{ post.alt }}"
            />
            {% if post.overview %}
            <h3>Overview</h3>
            <p class="text-left">{{ post.overview }}</p>
            {% endif %} {% if post.purpose %}
            <h3>Purpose</h3>
            <p class="text-left">{{ post.purpose }}</p>
            {% endif %} {% if post.key-features %}
            <h3>Key Features</h3>
            {% for keyfeature in post.key-features %}
            <p class="text-left">{{ keyfeature }}</p>
            {% endfor %} {% endif %} {% if post.technologies-used %}
            <h3>Technologies Used</h3>
            {% for technology in post.technologies-used %}
            <p class="text-left">{{ technology }}</p>
            {% endfor %} {% endif %} {% if post.target-audience %}
            <h3>Target Audience</h3>
            <p class="text-left">{{ post.target-audience }}</p>
            {% endif %} {% if post.ui-ux %}
            <h3>Design and User Experience</h3>
            <p class="text-left">{{ post.ui-ux }}</p>
            {% endif %} {% if post.challenges %}
            <h3>Challenges and Solutions</h3>
            <p class="text-left">{{ post.challenges }}</p>
            {% endif %} {% if post.impact %}
            <h3>Impact</h3>
            <p class="text-left">{{ post.impact }}</p>
            {% endif %} {% if post.demo %}
            <p>
              Check out the demo
              <a href="{{post.demo}}" target="_blank">here</a>.
            </p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.client %}
              <li>
                Client:
                <strong>{{ post.client }}</strong>
              </li>
              {% endif %} {% if post.project-date %}
              <li>
                Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %} {% if post.category %}
              <li>
                Service:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
